@using Microsoft.AspNetCore.Identity
@using TESNS.Models
@using TESNS.Models.Authentication
@inject ApplicationDbContext _context
@inject UserManager<AppUser> UserManager

@{
    var currentUser = UserManager.GetUserId(User);
    string username = UserManager.GetUserName(User);
    string picture = _context.Users.FirstOrDefault(i => i.Id == Int16.Parse(currentUser)).ProfilePhoto;
}
<h2 style="dispay:none;" id="sendid">@currentUser</h2>
<h2 style="display:none;" id="username">@username</h2>
<section id="user-content" style="margin:0px;background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            <li class="p-2 border-bottom" style="background-color: #eee;">
                                <a href="#!" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img src="/images/default_female_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">Emir</p>
                                            <p class="small text-muted">Hello, Are you there?</p>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <p class="small text-muted mb-1">Just now</p>
                                        <span class="badge bg-danger float-end">1</span>
                                    </div>
                                </a>
                            </li>
                            <li class="p-2 border-bottom">
                                <a href="#!" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img src="/images/default_female_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">Talha</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <p class="small text-muted mb-1">Yesterday</p>
                                    </div>
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="#!" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">Hasan</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <p class="small text-muted mb-1">5 mins ago</p>
                                        <span class="text-muted float-end"><i class="fas fa-check" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">
                <ul id="messageContainer" class="list-unstyled">
                   
                    <li class="bg-white mb-3">
                        <div class="form-outline">
                            <input type="text" id="userId" class="form-control" placeholder="Enter user ID">
                            <label class="form-label" for="message">Message:</label>
                            <textarea id="message" class="form-control" rows="4" placeholder="Enter message"></textarea>
                        </div>
                    </li>
                    <button type="button" id="sendButton" class="btn btn-info btn-rounded float-end">Send</button>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        $(document).ready(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/chatHub")
                .build();

            connection.start()
                .catch(error => {
                    console.error(error);
                });
            $("#sendButton").on("click", function () {
                const userId = $("#userId").val();
                const message = $("#message").val();
                const username = $("#username").text();
                const sendid = $("#sendid").text(); 
                connection.invoke("SendMessageToUser", userId, message, sendid)
                    .catch(error => {
                        console.error(error);
                    })
                    .finally(() => {
                        $("#userId").val("");
                                $("#messageContainer").append(`
                                        <li class="d-flex justify-content-between mb-4">
                      <div class="note-card w-100">
                        <div class="card-header d-flex justify-content-between">
                          <p class="fw-bold mb-0">`+ username + `</p>
                          <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                        </div>
                        <div class="card-body">
                          <p class="mb-0">
                                    `+ message + `
                          </p>
                        </div>
                      </div>
                            <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </li>`);
                        $("#message").val("");
                    });

            });
            connection.on("ReceiveMessage", function (message, username) {
                $("#messageContainer").append(`
                                        <li class="d-flex justify-content-between mb-4">
                                                                         <img src="/images/default_female_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                                            <div class="note-card">
                                                <div class="card-header d-flex justify-content-between p-3">
                                                            <p class="fw-bold mb-0">`+ username + `</p>
                                                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="mb-0">
                                                        `+ message + `
                                                    </p>
                                                </div>
                                            </div>
                                        </li>`);
                $("#message").val("");
            });

            // Stop the connection when the page is unloaded
            $(window).on("beforeunload", function () {
                connection.stop();
            });
        });
    </script>
}
