@using Microsoft.AspNetCore.Identity
@using TESNS.Models
@using TESNS.Models.Authentication
@using TESNS.ViewModels
@inject ApplicationDbContext _context
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@model TESNS.ViewModels.CreatePostViewModel
<style>
    .note-card {
        position: relative;
        max-width: 100%;
        width: 100%;
        background-color: yellow;
        border-radius: 0;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin-bottom: 20px;
    }

    @@media (max-width: 600px) {
        .note-card {
            width: 100%;
        }
    }


    .note-card::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }



    .note-card p {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }

    .note-card .send-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        align-items: center;
        margin-left: 5%;
    }

        .note-card .send-button button {
            padding: 10px 20px;
            background-color: mediumslateblue;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

    .note-card .date {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 14px;
        color: #888;
    }

    .note-card .settings {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        color: #888;
    }

    .note-card .feedback {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        color: #888;
    }

        .note-card .feedback button {
            background-color: transparent;
            border: none;
            color: #888;
            cursor: pointer;
            margin-right: 10px;
        }

    .note-card .image-container {
        text-align: center; /* Görseli merkeze hizala */
        margin-top: 20px; /* p ile arasında boşluk bırak */
        margin-bottom: 20px;
    }

        .note-card .image-container img {
            max-width: 50%; /* Görselin maksimum genişliğini ayarla */
            height: auto; /* Orantılı olarak yüksekliği otomatik ayarla */
        }

    .note-card .image-container-upload {
        text-align: center; /* Görseli merkeze hizala */
        margin-top: 20px; /* p ile arasında boşluk bırak */
        margin-bottom: 20px;
        width: 50%;
        height: auto;
    }

        .note-card .image-container-upload img {
            max-width: 100%; /* Görselin maksimum genişliğini ayarla */
            height: auto; /* Orantılı olarak yüksekliği otomatik ayarla */
        }


    .profile-edit-btn {
        background-color: yellow;
        margin: 7px;
        border: 1px solid black;
        border-radius: 10px;
    }

    .profile-background {
        /*background-image: url("/images/seiser-alm-gf6d900d00_1280.jpg");*/
        background-size: cover;
        background-position: center center;
        height: 275px;
    }

    .user-profile {
        display: flex;
        align-items: center;
    }

    .profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .username {
        margin-left: 10px;
        font-weight: bold;
    }

    .note-card textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }

    #dropArea {
        width: 50%;
    }

    #ImagePath {
        width: 50%;
    }

    .explain {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }
</style>
<div class="note-card">
    <form method="post" asp-action="CreatePost" asp-controller="Post" enctype="multipart/form-data">
        <div style="background-color:transparent;border:none;"> <input asp-for="Header" style="background-color:transparent;border:none; width:100%;" placeholder="What Is The Today's Topic ? ^-^" /> </div>

        <textarea asp-for="Text" oninput="autoResize(this)" placeholder="How Do You Feel Today ^-^"></textarea>
        <div class="d-flex flex-row justify-content-center align-content-center">
            <div class="image-container-upload" style="border-style: dashed; border-color: gray; border-width:2px; position: relative; display: flex; justify-content: center; align-items: center;">
                <div id="dropArea" ondragover="handleDragOver(event)" ondrop="handleDrop(event)" onclick="handleClick()">
                    <i id="upload-icon" class="bi bi-upload"></i> <p id="upload-text">Upload An Image</p>
                    <img id="PostImagePrv" src="" width="100%" height="auto">
                </div>
                <input asp-for="ImagePath" id="ImagePath" name="ImagePath" type="file" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="send-button">
                <button type="submit">Send</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function autoResize(p) {
        p.style.height = 'auto';
        p.style.height = p.scrollHeight + 'px';
    }
    function handleDragOver(event) {
        event.stopPropagation();
        event.preventDefault();
        event.dataTransfer.dropEffect = 'copy';

    }

    function handleDrop(event) {
        event.stopPropagation();
        event.preventDefault();

        var files = event.dataTransfer.files;
        if (files.length > 0) {
            var file = files[0];
            if (file.type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('PostImagePrv').src = e.target.result;
                    document.getElementById('ImagePath').files = files; // Resmi input alanÄ±na ekleyin
                };
                reader.readAsDataURL(file);
            }
        }

    }

    function handleClick() {
        document.getElementById('ImagePath').click();
    }

    function handleFileSelect(event) {
        var files = event.target.files;
        if (files.length > 0) {
            var file = files[0];
            if (file.type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('PostImagePrv').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
        document.getElementById('upload-icon').style.display = "none";
        document.getElementById('upload-text').style.display = 'none';
    }
</script>
