@model TESNS.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" />

<body>
    <div class="wrapper">
        <header>Change Password</header>
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field password">
                <div class="input-area">
                    <input type="text" placeholder="Reset Code" asp-for="Code">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input placeholder="Password" asp-for="NewPassword">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input placeholder="Password Confirm" asp-for="ConfirmPassword">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
            </div>
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
