@using Microsoft.AspNetCore.Identity
@model CommunityDetailViewModel
@inject UserManager<AppUser> userManager;
@{
    var currentUser = await userManager.GetUserAsync(User);
}
<div class="container emp-profile d-block">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="note-card card mt-5">
                        <div class="profile-background" style="text-align:center;">
                            <img src="@Model.LogoUrl" style="width: 90%; height: 130%;" />
                        </div>
                        <div class="card-body text-center">
                            @if (Model.OwnerId == currentUser.Id) { 
                            <div class="d-flex justify-content-end">

                                <button asp-action="EditCommunity" asp-controller="Community" asp-route-id="Model.Id" class="btn btn-primary mb-3 d-flex flex-row flex-nowrap" style="font-size:20px;margin:1px;"> <h5>Edit Community</h5> <i style="font-size:revert-layer;" class="bi bi-pencil"></i></button>
                            </div>
                            }
                            <img src="@Model.LogoUrl" class="rounded-circle mb-3" alt="Profil Resmi" style="width: 150px; height: 150px; object-fit: cover; position: relative; margin-top: -125px;">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            <button class="btn btn-primary mb-3" asp-action="JoinCommunity" asp-controller="Community">Join</button>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <p class="text-muted">Followers</p>
                                    <p class="lead">100</p>
                                </div>
                                <div class="col">
                                    <p class="text-muted">Posts</p>
                                    <p class="lead">50</p>
                                </div>
                                <div class="col">
                                    <p class="text-muted">Ranks</p>
                                    <p class="lead">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>