body {
    background-image: url("https://res.cloudinary.com/daw0gahvl/image/upload/v1688177881/smileyy_ezyxj8.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment:scroll;
    
}

