.navbar {
    height: 80px; /* Yeni yükseklik değeri */
    background-color: #f2f5ff;
}

.navbar-nav .nav-link {
    font-size: 17px; /* Yeni font boyutu değeri */
}

#search-results {
    display: none;
    position: absolute;
    width: calc(100% - 176px); /* Adjust this value based on your search form width */
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    background-color: #f2f5ff;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border-color: #f2f5ff;
}

    #search-results li {
        padding: 5px;
    }

body {
    background-color: #6260de;
}

.dropdown-caret {
    position: absolute;
    top: -8px; /* Adjust this value as needed */
    left: calc(50% - 4px); /* Adjust this value as needed */
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    rotate: calc(180);
    border-bottom: 8px solid #f8f9fa; /* Adjust the color as needed */
    border-top: 8px solid black;
}

#search-results.dropdown-menu {
    display: block;
    top: 100%;
    width: 100%;
}

.custom-div {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#boddiv {
    background-color: #6260de;
}

.nfooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.nfooter li {
    padding: 4px;
    color: #C5CAE9;
}

.nfooter ul > li:hover {
    color: #957bda;
    cursor: pointer
}

.nfooter hr {
    border-width: 3px
}

.nfooter .card {
    padding: 2% 7%
}

.nfooter .social > i {
    padding: 1%;
    font-size: 15px
}

    .nfooter .social > i:hover {
        color: #957bda;
        cursor: pointer
    }

.nfooter .policy > div {
    padding: 4px
}

.nfooter .heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.nfooter .divider {
    border-top: 2px solid
}
