@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TESNS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TESNS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo">SelpakBozkürd</li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="items">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a asp-action="MyPosts" asp-controller="Post">My Posts</a></li>
                        <li><a asp-action="Profile" asp-controller="User">Profile</a></li>
                    </div>
                }
                else
                {
                    <div class="items">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a asp-action="Login" asp-controller="User">Login</a></li>
                        <li><a asp-action="Register" asp-controller="User">Register</a></li>
                    </div>
                }
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="bottom">
            <ul>
                <div class="copyright">
                    <span class="credit">Created By Talha Tan | </span>
                    <span class="far fa-copyright"></span><span> 2023 All rights reserved.</span>
                </div>
                <div class="items">
                    <li><a>Terms & Conditions</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Contact Us</a></li>
                </div>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
